<div id="admin_proposals">
  <div id="filter">
    <%= form_tag admin_proposals_path, :method=>:get, :id=>:admin_proposals_form do %>
      <% Proposal.aasm_states.each do |state|%>
        <%= label :state_filter, state.name, "#{state.name}:" %>
        <%= check_box :state_filter, state.name, {:class=>'state_checkbox'}, true, false%>
      <% end%>
    <% end %>
  </div>
</div>

<h2><%= link_to_function "Email", "$('#email').toggle('blind');" %></h2>
<div id="email">
  <input id="subject" type="text">
  <textarea id="body" type="text"></textarea>
  <%= button_to_function "Send to selected", "sendEmailToSelected()"  %>
</div>
<script>
  var sendEmailToSelected;
  $(function(){
    sendEmailToSelected = function(){
      var proposal_ids = $.makeArray($('.select_proposal:checked')
        .map(function(){return parseInt($(this).val());}));
      if (proposal_ids.length < 1){
        alert("You didn't select anything, fool!");
        return;
      }
      if (!window.confirm("Are you really sure you want to email these people? This is your last chance to walk away.")){
        return;
      }
      var subject = $('#subject').val();
      var body = $('#body').val();
      $.ajax({
        type: 'post',
        data: {subject: subject, body: body, proposal_ids:proposal_ids},
        headers: {
          'X-CSRF-Token': '<%= form_authenticity_token.to_s %>'
        },
        complete: function(request){},
        url: "<%= email_presenters_admin_proposals_path %>"
      });
    }
  }
  );
</script>

<p>
  All:
  <input id="toggle_all_proposals" type="checkbox">
</p>
<div id="admin_proposal_list">
  <% @proposals.each_with_index do |proposal, i|%>
    <%= div_for proposal do %>
      <%= render :partial=>proposal%>
    <% end %>
  <% end%>
</div>


<script>
  $('.state_checkbox').change(function(){$('#admin_proposals_form').submit();});
  $('#toggle_all_proposals').change(function(){
    $('.select_proposal').prop('checked', $(this).prop('checked'));
  });
</script>
