<div id="mail">
<% form_for :email, :url=>{:controller=>'admin/accepted_mailings', :action=>:create} do |f| %>
<ul id='proposals_to_mail'>
  <% @proposals.each do |proposal| %>
    <li><%= "#{h(proposal.title)} - <em>#{h(comma_separated_speakers(proposal))}</em>" %></li>
    <%= hidden_field_tag 'selected_proposals[]', proposal.id %>
  <% end %>
</ul>
	<div id="mail_preamble">
	<h2>Send mail to listed proposal speakers on right - THERE IS NO SAFETY CATCH HERE</h2>
	<p>Use FIRST, LAST, and TITLE to refer to the speaker's names and presentation title.</p>
	</div>

	<div id="mail_subject">
		<%= f.label :subject %>
		<%= f.text_field :subject%>
	</div>
	<div id="mail_body">
		<%= f.label :body%>
		<%= f.text_area :body%>
	</div>
	<div id="mail_sig">
		---
		<br/>
		Alan, Graeme, Paul
		<br/>
		http://scottishrubyconference.com
	</div>
	<%= f.submit "send" %>
<% end %>
</div>
